@import url(../node_modules/normalize.css/normalize.css);
html {
  font-size: 10px; }

body {
  font-family: "Public Sans", sans-serif;
  font-size: 1.5rem; }

.header-nav {
  height: 10vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #ffffff; }

.header-links a {
  padding-left: 1rem; }
