
.header {  
    &-nav {
        height: 10vh;
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: $nav-background;
    }
    &-links a {
        padding-left: 1rem;
    }
}